html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #333333;
    color: #fff;
    font-size: 1.1rem;
}

body > header {
    width: calc(100% - 32px);
    height: 70px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
body > header nav a{
    color: #FFF;
    text-decoration: none;
    padding: 0 0 21px 0;
}

body > header nav a:hover{
color: orange;
border-bottom: 3px solid orange;
}

body > header nav a.active{
    color: #cf9c3c;
    border-bottom: 3px solid orange;

}

body > header nav {
   
    color: #fff;
}

.logotipo {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.logotipo img {
    width: 60px;
    height: 60px;

}

.logotipo h1 {
    color: white;
    margin: 0;
    margin: 9px 0 0 0;
}

.logotipo h1 span {
    color: #f94060;

}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

body > main{
    
    min-height: calc(100vh - 302px);
    padding: 16px;
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
}
body > footer{
    background: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-ticker{
    width: 230px;
    height: fit-content;
    background: #1a1616;
    border-radius: 20px;
    padding: 16px;
    align-self: baseline;
    
}

.card-ticker header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-ticker header h2{
    margin: 0;
    font-size: 12px;
}
.card-ticker header h2 span{
    font-weight: normal;
    color: #a3a3a1;
}

.card-ticker header h1{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}


.card-ticker main p{
    font-size: 32px;
    margin: 16px 0 2px 0;
}

.card-ticker main span{
    color: #7b7b7b;
}

.card-ticker main span:nth-child(2){
  background: #17e717;
  padding: 3px 16px;
  margin: 0 8px 0 0;
  border-radius: 12px;
  font-size: 14px;
  color: #FFF;
}

.card-ticker footer{
    display: flex;
    justify-content: space-between;
    margin: 28px 0 0 0;
}

.card-ticker footer div:nth-child(2){
    text-align: right;
}

.card-ticker footer div p{
    margin: 0;
    font-size: 18px;
    
}

.card-ticker footer div span{
    font-size: 14px;
    color: #7b7b7b;
}

table{
    border-collapse: collapse;
}

 th, td{
    border: 1px solid #7b7b7b;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background: #1a1616;
}
tr:nth-child(odd){
    background:#7b7b7b;
}

fieldset{
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    margin: 0 10px 5px 0;
}

fieldset h5{
    font-size: 1.1rem;
 
}

legend{
    font-size: 1.2rem;
    padding: 20px 0 10px 0;
}

input[type=text], input[type=email],input[type=password],select,textarea{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    margin: 3px 0 16px 0;
    border: none;
    background: #7b7b7b;
    color: #fff;
}

input[type=submit], input[type=reset]{
    border: 1px solid f94060;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    background: #f94060;
    font-size: 1.1rem;
    margin: 16px 16px 16px 0;
    cursor: pointer;

}

input[type=submit]:hover, input[type=reset]:hover{
    background: orange;
}

input[type=submit]:active, input[type=reset]:active{
    background: rgb(136, 90, 6);
}

#banner{
    width: 500px;
    height: 300px;
    background-color: #333333;
    background-image: url('../img/bg-marketing.jpg');
    background-size: cover;  /*Joga a imagem sem distorcer */
    /*background: #333333 url('../img/bg-marketing.jpg') right bottom no-repeat 200px 300px;*/
}