html,
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #333333;
    color: #fff;
}

body > header {
    width: calc(100% - 32px);
    height: 70px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
body > header nav a{
    color: #FFF;
    text-decoration: none;
    padding: 0 0 21px 0;
}

body > header nav a:hover{
color: orange;
border-bottom: 3px solid orange;
}

body > header nav a.active{
    color: #cf9c3c;
    border-bottom: 3px solid orange;

}

body > header nav {
   
    color: #fff;
}

.logotipo {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 5px;

}

.logotipo img {
    width: 60px;
    height: 60px;

}

.logotipo h1 {
    color: white;
    margin: 0;
    margin: 9px 0 0 0;
}

.logotipo h1 span {
    color: #f94060;

}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

body > main{
    
    min-height: calc(100vh - 302px);
    padding: 16px;
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
}
body > footer{
    background: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-ticker{
    width: 230px;
    height: fit-content;
    background: #1a1616;
    border-radius: 20px;
    padding: 16px;
    align-self: baseline;
    
}

.card-ticker header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-ticker header h2{
    margin: 0;
    font-size: 12px;
}
.card-ticker header h2 span{
    font-weight: normal;
    color: #a3a3a1;
}

.card-ticker header h1{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}


.card-ticker main p{
    font-size: 32px;
    margin: 16px 0 2px 0;
}

.card-ticker main span{
    color: #7b7b7b;
}

.card-ticker main span:nth-child(2){
  background: #17e717;
  padding: 3px 16px;
  margin: 0 8px 0 0;
  border-radius: 12px;
  font-size: 14px;
  color: #FFF;
}

.card-ticker footer{
    display: flex;
    justify-content: space-between;
    margin: 28px 0 0 0;
}

.card-ticker footer div:nth-child(2){
    text-align: right;
}

.card-ticker footer div p{
    margin: 0;
    font-size: 18px;
    
}

.card-ticker footer div span{
    font-size: 14px;
    color: #7b7b7b;
}

table{
    border-collapse: collapse;
}

 th, td{
    border: 1px solid #7b7b7b;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background: #1a1616;
}
tr:nth-child(odd){
    background:#7b7b7b;
}